<div class="container">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            {{/* Use a background image instead of an <img>, so that we can scale it beyond Bulma's 28px height. */}}
            <a class="navbar-item" href="{{ .Site.BaseURL | relURL }}" style="background: url({{ "images/logo.png" | relURL }}) no-repeat 1rem center; background-size: 48px; width: 80px;" />

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        {{/* Note that the navbar menu requires a script. See main.js. */}}
        <div class="navbar-menu" id="topNavbar">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ .Site.BaseURL | relURL }}">
                    Home
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Years
                    </a>

                    <div class="navbar-dropdown">
                        {{- range site.Sections }}
                        <a class="navbar-item" href="{{ .RelPermalink }}">
                            {{- .File.ContentBaseName -}}
                        </a>
                        {{- end }}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
